.search-container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

.clear-button {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 8px;
  border: none;
  background-color: #f44336; /* Красный цвет */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.clear-button:hover {
  background-color: #d32f2f;
}